server {
    listen 80 default_server; # Listen on all interfaces on port 80

    server_name _; # Underscore is a catch-all for any server name

    # Root directory
    root {{ web_path }};

    # Index file
    index index.html;

    # Serve static files
    location / {
        try_files $uri $uri/ =404;
    }

    # Error handling
    error_page 404 /404.html;
    location = /404.html {
        internal;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        internal;
    }
}